<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{layout/main_layout}">
<div class="content-wrapper" layout:fragment="content">
<link rel="stylesheet" th:href="@{/css/home/user_home_login.css}">

    <table class="titleName">
        <tr>
          <td>
            <h3>추천 도서</h3>
          </td>  
        </tr>     
     </table>

    <div class="cards">
        <div class="card">
            <img th:src="@{/images/r1.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    기획자가 일 잘하는 법
                </p>
                <p>
                    피터
                </p>
            </div>
        </div>
       
        <div class="card">
            <img th:src="@{/images/r2.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    10대를 위한 나의 첫 건축 수업
                </p>
                <p>
                    대니얼 윌킨스
                </p>
            </div>
        </div>

        <div class="card">
            <img th:src="@{/images/r3.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    클린 소프트웨어
                </p>
                <p>
                    로버트 C. 마틴
                </p>
            </div>
        </div>

        <div class="card">
            <img th:src="@{/images/r4.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    오늘부터 개발자
                </p>
                <p>
                   김병욱
                </p>
            </div>
        </div>

        <div class="card">
            <img th:src="@{/images/r5.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    판교의 젊은 기획자들
                </p>
                <p>
                    이윤주
                </p>
            </div>
        </div>
    </div>

    <br>

    <table class="titleName">
        <tr>
          <td>
            <h3>베스트셀러</h3>
          </td>  
        </tr>     
      </table>

    <div class="cards">
        <div class="card">
            <img th:src="@{/images/best1.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    영어 필사 100일의 기적
                </p>
                <p>
                    퍼포먼스코치 리아
                </p>
            </div>
        </div>
       
        <div class="card">
            <img th:src="@{/images/best2.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    해리포터와 마법사의 돌 1
                </p>
                <p>
                    J.K. 롤링
                </p>
            </div>
        </div>

        <div class="card">
            <img th:src="@{/images/best3.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    오늘부터 개발자
                </p>
                <p>
                    김병욱
                </p>
            </div>
        </div>

        <div class="card">
            <img th:src="@{/images/best4.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    기획자가 일 잘하는 법
                </p>
                <p>
                   피터
                </p>
            </div>
        </div>

        <div class="card">
            <img th:src="@{/images/best5.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    김민지의 탐나는 집반찬
                </p>
                <p>
                    김민지
                </p>
            </div>
        </div>
    </div>

    <br>

    <table class="titleName">
        <tr>
          <td>
            <h3>새로 나온 신간</h3>
          </td>  
        </tr>     
      </table>

    <div class="cards">
        <div class="card">
            <img th:src="@{/images/new1.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    강성태 66일 영어회화
                </p>
                <p>
                    강성태
                </p>
            </div>
        </div>
       
        <div class="card">
            <img th:src="@{/images/new2.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    문학작품 속 실용영어
                </p>
                <p>
                    한상태
                </p>
            </div>
        </div>

        <div class="card">
            <img th:src="@{/images/new3.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    스포츠 멘탈 코칭 바이블
                </p>
                <p>
                    김범수
                </p>
            </div>
        </div>

        <div class="card">
            <img th:src="@{/images/new4.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    와인 올 더 타임
                </p>
                <p>
                    마리사 A.로스
                </p>
            </div>
        </div>

        <div class="card">
            <img th:src="@{/images/new5.jpg}" alt="" class="card__image">
            <div class="card__content">
                <p>
                    유아식 레시피북
                </p>
                <p>
                    BLW연구소
                </p>
            </div>
        </div>
    </div>

</div>