<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{layout/main_layout}">
<div class="content-wrapper" layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/coin/cash_log.css}">
    <section>
        <!-- 제목 -->
        <table class="titleName">
            <tr>
                <td>
                    <h2>충전 내역</h2>
                </td>
            </tr>
        </table>

        <!-- 메인 테이블 -->
        <table id="log">
            <tr>
                <td>번호</td>
                <td>충전 금액</td>
                <td>충전 날짜</td>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>7</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>8</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>9</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>10</td>
                <td></td>
                <td></td>
            </tr>
        </table>


        <!-- 페이징 -->
        <table id="page">
            <tr>
                <td>&lt</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>&gt</td>
            </tr>
        </table>

    </div>
    </section>
</div>
</html>